checkpoints/*
*/model/*
*/temp/*
temp/*
data/custom_model1/*
data/custom_model1_test/*
data/custom_model_object/*
mlruns/*
runs/*
sku110k/*
.vscode/*
.pytest_cache/*

app.log

*.code-workspace
*.pyc

automatic_dataset/analyzed
automatic_dataset/to_analyze
automatic_dataset/model