checkpoints/*
*/model/*

api/app/temp/*

data/custom_model1/*
data/custom_model1_test/*
data/custom_model_object/*

mlruns/*
runs/*
sku110k/*
.vscode/*
.pytest_cache/*


*.code-workspace
*.pyc
*.log

automatic_dataset/src/temp/*
automatic_dataset/src/analyzed/*
automatic_dataset/src/to_analyze/*
automatic_dataset/src/model/*